### 1.Series

pandas type
Series- 행이 하나/ 열의 이름: name
Dataframe- 행이 여러개/열의 이름: column

In [6]:
#pd.Series() 리스트, 딕셔너리 들어갈 수 있음
import pandas as pd
list1=[1,2,3,4,5,6] #리스트는 인덱스가 0부터 임의로
a=pd.Series(list1)
a.name='number'
print(a)

AttributeError: partially initialized module 'pandas' has no attribute 'core' (most likely due to a circular import)

In [7]:
dic1={'a':1,'b':2,'c':3}
b=pd.Series(dic1) #딕셔너리는 인덱스가 key값으로
b.name='number'
print(b)

a    1
b    2
c    3
Name: number, dtype: int64

pd.read_csv()
path/index_col/header/squeeze 대부분 사용

In [20]:
import pandas as pd
path="D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv"
samsung_price=pd.read_csv(path,index_col=0,squeeze=True,header=0) #index_col: 0번쨰 칼럼의 값이 인덱스가 된다/ #squeeze가 true면 Series 아니면 dataframe/
                                                    #header는 csv 제일 위에 date, close가 있으니까 그걸 이 series의 0번 헤더로 지정한다

Series index/value
-> loc or iloc 를 사용한다

In [24]:
#loc: 특정한 인덱스 값을 찾을 떄
if '2020-12-15' in samsung_price:
    print(samsung_price.loc['2020-12-15'])

73800

In [25]:
#iloc 

samsung_price.iloc[100] #100번쨰 인덱스 값

49500

Series 값에 행을 추가하고 싶을때

In [5]:
import pandas as pd
path="D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv"
samsung_price=pd.read_csv(path,index_col=0,squeeze=True,header=0)
samsung_price.index[samsung_price.shape[0]-1]
#index의 길이를 찾을 떈 samsung_price.shape/ 값을 원한다면 samsung_price.shape[0]

'2021-12-17'

In [6]:
samsung_price['2021-12-20']=77100 #새로운 값 추가하기
print(samsung_price)
samsung_price.loc['2021-12-16']=0 #값 변경하기/ loc 써도 되고 안써도 되는데 쓰는거 추천
print(samsung_price)

Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
2021-12-20    77100
Name: Close, Length: 978, dtype: int64
Date
2018-01-02    51020
2018-01-03    51620
2018-01-04    51080
2018-01-05    52120
2018-01-08    52020
              ...
2021-12-14    77000
2021-12-15    77600
2021-12-16        0
2021-12-17    78000
2021-12-20    77100
Name: Close, Length: 978, dtype: int64

excel 파일(두 개의 series 연결하기)

In [7]:
import pandas as pd
path='D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\samsung_excel.xlsx'
sm1=pd.read_excel(path,sheet_name='Sheet1',index_col=0, squeeze=True) #엑셀에서 sheet가 여러개니까 sheet 이름을 저장해준다. 0 1 2 3 or 이름 
sm2=pd.read_excel(path,sheet_name='Sheet2',index_col=0, squeeze=True)

sm=sm1.append(sm2, ignore_index=True) #ignore index-> 인덱스 이름을 무시하는 거임/ 인덱스 살리고 가고 싶으면 false로 
sm

0      51020
1      51620
2      51080
3      52120
4      52020
       ...
977    77100
978    78100
979    79400
980    79900
981    80500
Name: Close, Length: 982, dtype: int64

Series 중에서 가장 큰 작은 값

In [8]:
samsung_price.max() #가장 고점
samsung_price.min() #가장 저점

samsung_price.describe() #이 값 설명해주는거

count      978.000000
mean     57236.554192
std      14194.895001
min          0.000000
25%      46262.500000
50%      51300.000000
75%      70200.000000
max      91000.000000
Name: Close, dtype: float64

In [12]:
samsung_price.argmax() #가장 큰 값의 인덱스 값을 나타내는 method/ 몇번쨰에 있다고/  argmin() 도 있겠죠
samsung_price.iloc[samsung_price.argmax()] # 가장 큰 값
samsung_price.index[samsung_price.argmax()] #가장 큰 값의 인덱스값 그 몇번의 있는거의 index 값이 얼마냐

'2021-01-11'

Series 연산/ Series 끼리 사칙연산 가능!

In [62]:
import pandas as pd

path='D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv'
samsung_price=pd.read_csv(path, index_col=0,squeeze=True, header=0)
samsung_price-samsung_price.shift() # shift() 한칸씩 밀림. ()안에 숫자 넣어서 밀리는 값 조정 가능/ 오늘의 값에서 어제의 값을 빼는 방법
samsung_return=(samsung_price-samsung_price.shift())/samsung_price.shift()

In [64]:
samsung_price.pct_change() #수익률 구하는 method
samsung_return.index[samsung_return.argmax()] # 수익률이 가장 많이 오른 값의 인덱스(즉 날짜)

'2020-03-24'

Nan값 제거하기

-Nan하고 다른 값 계산하면 그냥 Nan

In [65]:
import pandas as pd

path="D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv"
samsung_price=pd.read_csv(path,index_col=0,squeeze=True,header=0)
samsung_return=samsung_price.pct_change()

In [67]:
samsung_return.dropna() #Nan값 drop 하기 그냥 버리기
samsung_return.fillna(1) #Nan값 1로 채우기

Date
2018-01-02    1.000000
2018-01-03    0.011760
2018-01-04   -0.010461
2018-01-05    0.020360
2018-01-08   -0.001919
                ...
2021-12-13   -0.001300
2021-12-14    0.002604
2021-12-15    0.007792
2021-12-16    0.002577
2021-12-17    0.002571
Name: Close, Length: 977, dtype: float64

값 정렬하기
sort_values(ascending=True or False)
sort_index(ascending= True or False)

In [14]:
#index 순서대로 정렬하기(index-> 날짜 기준)
samsung_price.sort_index(ascending=True) #작-> 큰 
samsung_price.sort_index(ascending=False) # 큰 ->작
#value 순서대로 정렬하기(value -> 값 기준)
samsung_price.sort_values(ascending=True) # 작 -> 큰
samsung_price.sort_values(ascending=False) # 큰 -> 작

Date
2021-01-11    91000
2021-01-12    90600
2021-01-14    89700
2021-01-13    89700
2021-01-25    89400
              ...
2018-12-27    38250
2019-01-08    38100
2019-01-03    37600
2019-01-04    37450
2021-12-16        0
Name: Close, Length: 978, dtype: int64

특정 조건에 맞는 값을 찾을 떄(조건에 따라 값을 찾기)

In [16]:
import pandas as pd
import numpy as np
path='D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv'
samsung_price=pd.read_csv(path, index_col=0,squeeze=True, header=0)
samsung_price-samsung_price.shift()
samsung_return=((samsung_price-samsung_price.shift())/samsung_price.shift())*100 #보기 편하게 100곱해줌

In [18]:
samsung_return.index[samsung_return.values>=4] #index 4% 이상인 것들의 인덱스 값/ 값들을 원하면 values
samsung_return[samsung_return.values>=4] #index- value 쭉 볼때

Date
2018-03-06     4.026549
2018-09-14     4.086266
2018-11-02     4.744958
2019-03-21     4.086266
2020-03-20     5.704307
2020-03-24    10.470588
2020-04-17     4.897959
2020-06-03     6.031128
2020-06-16     4.408818
2020-07-28     5.395683
2020-11-16     4.905063
2020-11-23     4.327666
2020-12-24     5.277402
2021-01-08     7.117008
2021-02-25     4.024390
2021-11-22     5.196629
2021-12-01     4.347826
Name: Close, dtype: float64

In [92]:
np.where(samsung_return.values>=4,1,0) #np.where(조건문,조건에 해당할떄 출력문, 해당하지 않을떄 출력문)

samsung_return_over4=pd.Series(np.where(samsung_return.values>=4,'Over 4%','Under'))
samsung_return_over4.index=samsung_return.index #인덱스 번호가 0부터 나오니까 기존에 있던 날짜 인덱스로 교체해주기
samsung_return_over4

Date
2018-01-02    0
2018-01-03    0
2018-01-04    0
2018-01-05    0
2018-01-08    0
             ..
2021-12-13    0
2021-12-14    0
2021-12-15    0
2021-12-16    0
2021-12-17    0
Length: 977, dtype: int32

Rolling/ Series.rolling(window=days).원하는것
mean도 있고 sum도 있고...

In [19]:
import pandas as pd
import numpy as np
path='D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv'
samsung_price=pd.read_csv(path, index_col=0,squeeze=True, header=0)
samsung_price-samsung_price.shift()
samsung_return=((samsung_price-samsung_price.shift())/samsung_price.shift())*100

In [20]:
samsung_price.rolling(window=30).mean() #30 이평선

Date
2018-01-02             NaN
2018-01-03             NaN
2018-01-04             NaN
2018-01-05             NaN
2018-01-08             NaN
                  ...
2021-12-13    73090.000000
2021-12-14    73273.333333
2021-12-15    73513.333333
2021-12-16    73753.333333
2021-12-17    74013.333333
Name: Close, Length: 977, dtype: float64

데이터의 구간 설정하기

pd.cut(series,bins=?) bins의 개수로 구간을 나누기/ ?는 숫자
->동일 길이로 나누기

pd.qcut(series,?) 동일한 개수로 구간을 나누기/ ?는 숫자
-> 동일 개수로 나누기

In [98]:
import pandas as pd
import numpy as np
path='D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv'
samsung_price=pd.read_csv(path, index_col=0,squeeze=True, header=0)
samsung_price-samsung_price.shift()
samsung_return=((samsung_price-samsung_price.shift())/samsung_price.shift())*100

In [24]:
pd.cut(samsung_return,bins=10)
pd.cut(samsung_return,bins=10).value_counts() #벨류 데이터들의 개수 count 해주기

(-1.33, 0.356]      414
(0.356, 2.041]      298
(-3.016, -1.33]     137
(2.041, 3.727]       70
(-4.702, -3.016]     31
(3.727, 5.413]       19
(-6.405, -4.702]      3
(5.413, 7.099]        2
(7.099, 8.785]        1
(8.785, 10.471]       1
Name: Close, dtype: int64

In [26]:
pd.qcut(samsung_return,10).value_counts()

(-0.332, 0.0]       108
(-6.389, -1.938]     98
(-1.938, -1.161]     98
(-0.702, -0.332]     98
(0.753, 1.22]        98
(2.003, 10.471]      98
(-1.161, -0.702]     97
(0.358, 0.753]       97
(1.22, 2.003]        97
(0.0, 0.358]         87
Name: Close, dtype: int64

서로 다른 길이의 series/ 상관관계를 구해보기

In [28]:
import pandas as pd
import numpy as np
#삼성과 코스피의 인덱스값이 서로 다름. 작은 쪽에 맞추는 방법
samsung=pd.read_csv('D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\삼성전자 종가.csv',index_col=0,squeeze=True,header=0)
kospi=pd.read_csv('D:\정유재\금융데이터 분석을 위한 판다스 활용법\자료\Data\KOSPI.csv',index_col=0,squeeze=True,header=0)

In [30]:
samsung.shape #shape을 해줘서 데이터 길이 확인

(977,)

In [31]:
samsung.loc['2020-01-02':] #kospi는 2020년 부터라서 데이터의 시작을 맞춰주는 거임
samsung=samsung.loc['2020-01-02':] #데이터 덮어씌우기

In [33]:
samsung_re=samsung.loc[kospi.index] #kospi index로 삼성의 인덱스를 맞추는거 -> kospi에 없는 인덱스 값 제거하면서
samsung_re

Date
2020-01-02    55200
2020-01-03    55500
2020-01-06    55500
2020-01-07    55800
2020-01-08    56800
              ...
2021-12-13    76800
2021-12-14    77000
2021-12-15    77600
2021-12-16    77800
2021-12-17    78000
Name: Close, Length: 477, dtype: int64

In [149]:
samsung_re.corr(kospi) #상관 관계 찾기
np.corrcoef(samsung_re,kospi) #넘파이로도 가능함
# 데이터 시리즈가 다르다면 값을 뺴던가 다른 방법을 찾던가 해야함...!
# 데이터 길이를 잘 맞추는게 중요함

array([[1.        , 0.95839711],
       [0.95839711, 1.        ]])